.faculty {
    display: flex;
    width: 100%;
}

.faculty_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 2rem;
    width: 100%;
}


.facultyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    background: #FFFFFF;
    box-shadow: -7px -7px 14px rgba(0, 0, 0, 0.05), 6.77143px 6.77143px 13.5429px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    height: 320px;
    gap: 0.15rem;
    cursor: pointer;
}

.faculty_img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 5%;
    object-fit: fill;
    margin: 0 auto 10px;
}

.facultyCard h1 {
    font-weight: 700;
    font-size: 1.05rem;
    color: var(--primary-color);
}

.facultyCard h3 {
    font-weight: 500;
    font-size: 0.95rem;
    text-align: center;
    color: var(--text-main);
}

.facultyCard a {
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    color: var(--secondary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.225rem;
    margin-top: 0.45rem;
}