.clubs_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1.5rem;
}

.clubCard {
    display: flex;
    width: 100%;
    gap: 2rem;

}

.club_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    padding: 1.5rem;
    border-radius: 100%;
    flex-shrink: 0;
    background: #FFFFFF;
    box-shadow: -6.77px -6.77px 13.5px rgba(0, 0, 0, 0.05), 6.77px 6.77px 13.54px rgba(0, 0, 0, 0.1);
}

.club_img img {
    width: 80%;
}

.club_content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    background: #FFFFFF;
    box-shadow: -6.77143px -6.77143px 13.5429px rgba(0, 0, 0, 0.05), 6.77143px 6.77143px 13.5429px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 1.25rem;

}

.club_content h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-color);
}
.club_content p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.95rem;
    color: #000000;


}
.club_content a {
    margin-top: auto;
    font-size: 0.8rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;

}
