.Footer_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}

.footer_top {
    display: flex;
    background: var(--primary-color);
    height: 5rem;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
}

.footer_top_content {
    display: flex;
    flex: 0.5;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

.footer_top_content a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_top h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    color: #FFFFFF;
}

.footer_bottom {
    display: flex;
    height: 13rem;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_contact h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--primary-color);
}

.footer_contact p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;

    color: var(--primary-color);

}

.footer_logo {
    display: flex;
}

.footer_img {
    height: 100px;
    width: 200px;
}

.footer_social {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.footer_social img {
    height: 3rem;
    width: 3rem
}