.change-password-card {
    box-shadow: -6.77143px -6.77143px 13.5429px rgb(0 0 0 / 5%), 6.77143px 6.77143px 13.5429px rgb(0 0 0 / 10%);
    border-radius: 15px;
    padding: 2rem;
    margin: 10px 10px;
    font-family: 'Montserrat';
}

.change-password-card div {
    margin: 15px 0px;
}

.change-password-card p {
    margin: 5px 0px;
}

.change-password-card input {
    padding: 8px;
    border: none;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 14px;
}

.change-password-card button {
    padding: 6px 12px;
    /* width: 60px; */
    border-radius: 5px;
    border: none;
    background-color: var(--secondary-color);
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}