@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}


/* VARIABLES */

:root {
    --primary-font: 'Montserrat', sans-serif;
    /* --secondary-font: 'Work Sans', sans-serif; */
    --bg-color: #E6F4F4;
    --primary-color: #232731;
    --secondary-color: #c1a66f;
    --text-main: #59958d;
}